---
layout: front-page
---

<div class="page-container" id="front-page-container">
  <div class="page-title" id="mission-statement-block" style="background: none">
    <h1 id="mission-statement" class="animate__animated animate__fadeIn">We believe the resources that are important to a student's future should never be overlooked, but instead cherished and shared with the people who lead difficult lives through fundraisers, drives, workshops, and other events.</h1>               
    <!-- <a target="_blank" href="https://izdrgs47pwv.typeform.com/to/TUoYQ6Uk" class="link-btn">Join our team</a>         -->
    <a target="_blank" href="https://discord.gg/snNuE3Cy5Z" class="link-btn">Participate in our Discord server</a>
    <a target="_blank" href="https://www.instagram.com/illumm_org/" class="link-btn-inverted">Check out our Instagram</a>
    <!-- <img src="images/front-page-art.svg" style="float: right; max-width: 600px;"> -->
  </div>
  <div class="page-section-small">
    <div class="block blurb-box">
      <div class="section-title">
        <h1 class="animate__animated animate__fadeIn">Why are we called illumm?</h1>        
      </div>
      <p>We want to shine a light on those who do not have access to resources that are beneficial to a student's future. When the pandemic became a major part of our lives, we realized that several other major components of life like education. The struggle that several families initially went through was now on a whole other level. The bridge between the privileged and underprivileged widened. We as illumm hope to narrow this gap by providing resources such as webinars, competitions, workshops, and other extracurricular resources to students. We want to offer skills by providing students all over the world with college and career advice and skills. We hope to build a community with people who are willing to hone new abilities for a brighter future.</p>  
    </div>    
  </div>  
  <div class="page-section">
    <div class="block">
      <div class="section-title">
        <h1>Latest Posts</h1>       
      </div>
      <div class="blog-container">
        {% for post in site.posts %}      
          {% if post.topic == "Sports Medicine" %}
            <a href="{{ post.url }}">
              <div class="blog-card">
                <div class="post-image" style="background: url('{{ post.image }}'); background-position: bottom; background-size: cover;"></div>
                <div class="post-desc">
                  <h3>{{ post.title }}</h3>
                  <span class="post-tag"><h3>{{ post.topic }}</h3></span>
                </div>            
              </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>    
    </div>
  </div> 
  <div class="page-section">
    <div class="block">
      <div class="section-title">
        <h1>Past Events</h1>
      </div>
      <div class="blog-container">
        {% for post in site.posts %}      
          {% if post.topic == "Event" %}
            <a href="{{ post.url }}">
              <div class="blog-card">
                <div class="post-image" style="background: url('{{ post.image }}'); background-position: bottom; background-size: cover;"></div>
                <div class="post-desc">
                  <h3>{{ post.title }}</h3>
                  <span class="post-tag"><h3>{{ post.topic }}</h3></span>
                </div>            
              </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>    
    </div>
  </div>
  <!-- <div class="page-section">
      <div class="block">
        <div class="section-title">
          <h1>Upcoming Events</h1>
          <p>Join us for upcoming webinars and workshops!</p>
        </div>      
        <div class="programs-container">
          <div class="program-card">
            <p><b>"Let's Talk About Mental Health" Guest Speaker Event</b></p>
            <p>May 22nd, 11:00 AM PST</p>
            <p><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfO5jFduw8tSb4jOd1gt8L4x46YIoSjfvlnmrMnmTleZYt2Ug/viewform">Sign up <i class="fas fa-arrow-circle-right link-arrow"></i></a></p>
          </div>
          <div class="program-card">
            <p><b>Coming soon</b></p>
            <p>--</p>
            <p><a target="_blank" href="#">Sign up <i class="fas fa-arrow-circle-right link-arrow"></i></a></p>
          </div>
          <div class="program-card">
            <p><b>Coming soon</b></p>
            <p>--</p>
            <p><a target="_blank" href="#">Sign up <i class="fas fa-arrow-circle-right link-arrow"></i></a></p>
          </div>
        </div>
      </div>    
    </div>   -->     
</div>   
  
